# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
import numpy as np

data_path = '../Data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [6]:
df.sort_values(by =['Unit price'], ascending=False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [36]:
filter_product = df[df['Product line'] == 'Electronic accessories']
rezult = filter_product.sort_values(by = ['Quantity','Total'], ascending= False).iloc[0]
rezult

Invoice ID                            704-48-3927
Branch                                          A
City                                       Yangon
Customer type                              Member
Gender                                       Male
Product line               Electronic accessories
Unit price                                  88.67
Quantity                                       10
Tax 5%                                     44.335
Total                                     931.035
Date                                    1/12/2019
Time                                        14:50
Payment                                   Ewallet
cogs                                        886.7
gross margin percentage                  4.761905
gross income                               44.335
Rating                                        7.3
Name: 105, dtype: object

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [43]:
def Rating_mapping (rating):
    if rating >= 8:
        return 'High'
    elif 6 < rating < 8:
        return 'Medium'
    else:
        return 'Low'
    

df['Rating Category'] = df['Rating'].apply(Rating_mapping)
df[['Rating Category', 'Rating']].head(10)

  Rating Category  Rating
0            High     9.1
1            High     9.6
2          Medium     7.4
3            High     8.4
4             Low     5.3
5             Low     4.1
6             Low     5.8
7            High     8.0
8          Medium     7.2
9             Low     5.9

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [47]:
df['Rating Category'].astype('category')
df['Rating Category'].value_counts(normalize = True)

Rating Category
Low       0.341
Medium    0.330
High      0.329
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [59]:
time = '11:28'

In [64]:
def time_hour (time):
    hour = time [0:2]
    int_hour = int(hour)
    return (int_hour)

type(time_hour(time))

int

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [65]:
df['Hour'] = df['Time'].apply(time_hour)
df[['Hour', 'Time']].head(10)

   Hour   Time
0    13  13:08
1    10  10:29
2    13  13:23
3    20  20:33
4    10  10:37
5    18  18:30
6    14  14:36
7    11  11:38
8    17  17:15
9    13  13:27

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [68]:
df.Hour.value_counts(normalize=True)*100

Hour
19    11.3
13    10.3
15    10.2
10    10.1
18     9.3
11     9.0
12     8.9
14     8.3
16     7.7
20     7.5
17     7.4
Name: proportion, dtype: float64

Найбільше покупок було здійснено о 19.00. 19.00 це час коли люди повернулись/повертаються з роботи і у них є час на здійснення покупок онлайн/офлайн

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [73]:
df.groupby('City').Total.mean().round(3)

City
Mandalay     319.873
Naypyitaw    337.100
Yangon       312.354
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [75]:
df.groupby('City').Total.agg(['min','max','mean']).round(3)

              min      max     mean
City
Mandalay   18.638  1022.49  319.873
Naypyitaw  10.678  1042.65  337.100
Yangon     12.694  1039.29  312.354

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [76]:
df.to_csv('supermarket_sales_enriched.csv', index = False)