#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [3]:
import pandas as pd
data_path = '../Data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [4]:
df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [8]:
prubytok_filial = df.groupby('Branch')['Total'].agg('sum').sort_values(ascending = False)
prubytok_filial

Branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: Total, dtype: float64

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª –°

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [13]:
prubytok_filial_city = df.groupby(['Branch','City'])['Total'].agg('sum').sort_values(ascending = False)
prubytok_filial_city

Branch  City
C       Naypyitaw    110568.7065
A       Yangon       106200.3705
B       Mandalay     106197.6720
Name: Total, dtype: float64

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª –° –≤ –º—ñ—Å—Ç—ñ Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [19]:
invoices_by_catego = df.pivot_table(index = 'Branch', columns = ('Product line'), values = ('Invoice ID'), aggfunc ='count')
invoices_by_catego

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [21]:
invoices_by_catego['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –Ø–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ç–æ–≤–∞—Ä—ñ–≤ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É —Å–µ—Ä–µ–¥ –∂—ñ–Ω–æ–∫ —Ç–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –æ–∫—Ä–µ–º–æ?
2. –Ø–∫–∏–π —Ç–∏–ø –æ–ø–ª–∞—Ç–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –æ–±–∏—Ä–∞—é—Ç—å –ø–æ–∫—É–ø—Ü—ñ?
3. –í–∏–∑–Ω–∞—á–∏—Ç–∏ –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ –º—ñ—Å—Ç–∞ —è–∫–∏–π —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Å–∫—ñ–ª—å–∫–∏ —Ä–æ–±–∏—Ç—å –ø–æ–∫—É–ø–∫–∏?

–ü–µ—Ä—à–µ –∑–∞–≤–¥–∞–Ω–Ω—è

In [22]:
category_gender = df.pivot_table(index = 'Gender', columns = ('Product line'), values = ('Total'), aggfunc ='sum')
category_gender

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055

In [30]:
top_category_female = category_gender.loc['Female'].idxmax()
print ('–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—É –¥–ª—è –∂—ñ–Ω–æ–∫: ',top_category_female, '\n')

top_category_male = category_gender.loc['Male'].idxmax()
print ('–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—É –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤: ',top_category_female)

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—É –¥–ª—è –∂—ñ–Ω–æ–∫:  Food and beverages

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—É –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤:  Food and beverages

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –Ø–∫ –±–∞—á–∏–º–æ –∑ –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É —è–∫ –¥–ª—è –∂—ñ–Ω–æ–∫, —Ç–∞–∫ —ñ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫ —î –∫–∞—Ç–µ–≥–æ—Ä—ñ—è Food and beverages. –°–∞–º–µ —Ü—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —î –∫–ª—é—á–æ–≤–∏–º '–¥—Ä–∞–π–≤–µ—Ä–æ–º' –¥–ª—è –º–∞–≥–∞–∑–∏–Ω—ñ–≤, —Ç–æ–º—É –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–µ—Å—Ç–∏—Ü—ñ–π –ø–æ—Ç—Ä—ñ–±–Ω–æ –∑–∞–ª—É—á–∞—Ç–∏ –≤ –¥–∞–Ω—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ç–∞ –Ω–∞–ø–æ–≤–Ω—é–≤–∞—Ç–∏ —ó—ó –Ω–æ–≤–∏–º–∏ –ø–æ–∑–∏—Ü—ñ—è–º–∏, —â–æ –¥–æ–∑–≤–æ–ª–∏—Ç—å –∑–±—ñ–ª—å—à–∏—Ç–∏ —á–µ–∫ –¥–∞–Ω–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤ —Ä–∞–∑–∏.

–î—Ä—É–≥–µ –∑–∞–≤–¥–∞–Ω–Ω—è

In [34]:
count_payment = df.groupby('Payment')['Invoice ID'].count()
persentg_payment = count_payment / sum(count_payment) * 100
persentg_payment

Payment
Cash           34.4
Credit card    31.1
Ewallet        34.5
Name: Invoice ID, dtype: float64

–†–µ–∑—É–ª—å—Ç–∞—Ç–∏ –ø–æ–∫–∞–∑—É—é—Ç—å, —â–æ —Ä—ñ–∑–Ω–∏—Ü—è –º—ñ–∂ —Ç–∏–ø–∞–º–∏ –æ–ø–ª–∞—Ç –Ω–µ–∑–Ω–∞—á–Ω–∞ —ñ —Ä–æ–∑–ø—Ä–∏–¥—ñ–ª–µ–Ω–∞ –≤—ñ–¥—Å–æ—Ç–∫–æ–≤–æ –º–∞–π–∂–µ –ø–æ—Ä—ñ–≤–Ω–æ. –Ø–∫—â–æ –º–∞–≥–∞–∑–∏–Ω –∑–∞—Ö–æ—á–µ —É–Ω–∏–∫–∞—Ç–∏ –≥–æ—Ç—ñ–≤–∫–∏, —Ç–æ –π–æ–º—É –ø–æ—Ç—Ä—ñ–±–Ω–æ —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ —Ä—ñ–∑–Ω—ñ –∞–∫—Ü—ñ—ó, –∑–Ω–∏–∂–∫–∏,–±–æ–Ω—É—Å–∏ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –æ–Ω–ª–∞–π–Ω –∞–±–æ –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–∫–æ—é, —â–æ–± –∑–∞–ª—É—á–∏—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –æ–±–∏—Ä–∞—Ç–∏ —Å–∞–º–µ —Ü—ñ –≤–∏–¥–∏ –æ–ø–ª–∞—Ç.

–¢—Ä–µ—Ç—î –∑–∞–≤–¥–∞–Ω–Ω—è

In [42]:
totalby_city_member = df.pivot_table(index = 'City', columns = ('Customer type'), values = ('Invoice ID'), aggfunc ='count')
totalby_city_member

Customer type  Member  Normal
City
Mandalay          165     167
Naypyitaw         169     159
Yangon            167     173

–ó –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö –¥–∞–Ω–∏—Ö –±–∞—á–∏–º–æ, —â–æ —Ä—ñ–∑–Ω–∏—Ü—è –º—ñ–∂ —Ç–∏–ø–æ–º –ø–æ–∫—É–ø—Ü—ñ–≤ –Ω–µ–∑–Ω–∞—á–Ω–∞. –î–ª—è —Ç–æ–≥–æ —â–æ–± —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø–æ–∫—É–ø—Ü—ñ–≤ —Å—Ç–∞–≤–∞—Ç–∏ —á–ª–µ–Ω–∞–º–∏ –Ω–∞—à–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É (member) –ø–æ—Ç—Ä—ñ–±–Ω–æ —Å—Ç–≤–æ—Ä–∏—Ç–∏ —Ä–µ–∫–ª–∞–º–Ω—É –∫–∞–º–ø–∞–Ω—ñ—é, —è–∫–∞ –±—É–¥–µ –æ–ø–∏—Å–º—É–≤–∞—Ç–∏ –ø–µ—Ä–µ–≤–∞–≥–∏ —á–ª–µ–Ω—Å—Ç–≤–∞. –ó–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∞–∫—Ü—ñ—ó –¥–ª—è —Ç–∏—Ö —Ö—Ç–æ —Å—Ç–∞–Ω–µ —á–ª–µ–Ω–æ–º (member) –Ω–∞—à–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥ 15% –∑–Ω–∏–∂–∫–∞ –Ω–∞ –ø–µ—Ä—à–∏–π —á–µ–∫ —ñ—Ç–¥. –î–ª—è —Ç–∏–ø—ñ–≤ –∫–ª—ñ—î–Ω—Ç—ñ–≤ member –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∞–∫—Ü—ñ—ó, —è–∫—ñ –±—É–¥—É—Ç—å –ø–æ—à–∏—Ä—é–≤–∞—Ç–∏—Å—å –ª–∏—à–µ –Ω–∞ –Ω–∏—Ö —ñ –±—É–¥—É—Ç—å –∑–Ω–∞—á–Ω–æ –ø—Ä–∏–≤–∞–±–ª–∏–≤—ñ—à–∏–º–∏ –Ω—ñ–∂ –Ω–µ –±—É—Ç–∏ —á–ª–µ–Ω–æ–º –º–∞–≥–∞–∑–∏–Ω—É, —â–æ–± —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ —Ç–∞ –±—ñ–ª—å—à–µ –∑–∞–ª—É—á–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∞ —Å—Ç–∞–≤–∞—Ç–∏ —á–ª–µ–Ω–∞–º–∏ –Ω–∞—à–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω—É