У завданнях 1-4. Вам наданий простий код на Python, який не відповідає вказівкам PEP8. Ваше завдання — відредагувати код так, аби він відповідав PEP8. Напишіть після редагуванню коду, дотримання яких правил з pep8 ви досягли в відредагованій версі, наприклад
```
- додала пробіли навколо бінарного оператора
- додала два порожні рядки між визначеннями функцій
і тд
```
Також можна зазанчити використані правила коментарями по коду, а не окремим повідомленням.

Відредагований код має виконувати весь той самий функціонал, але бути написаний відповідно до вимог до гарного коду на Python! Не забудьте запустити відредагований код, він має бути робочим.

Завдання 1.

In [ ]:
def greet(name):print(f"Hello, {name}")
def add(n1,n2):return n1+n2

x = 5;y = 3
display(greet("John"),add(x,y))

In [ ]:
def greet(name):
    print(f"Hello, {name}")


def add(n1,n2):
    return n1 + n2


x = 5
y = 3

display(greet("John"), add(x, y))

1. Додавання відсутпів між функціями, два порожні рядки
2. Додавання пробілів після ком та +
3. Перенесення константу y на новий рядок

Завдання 2.

In [ ]:
from math import *
def calcArea(r):return pi*r**2
def calcCircumference(r):return 2*pi*r

radius=5
print("Area:",calcArea(radius),"Circumference:",calcCircumference(radius))

In [ ]:
from math import pi #іморт лише pi, а не всієї  бібліотеки


def calc_area(r):
    return pi * r ** 2


def calc_circumference(r):
    return 2 * pi * r

radius = 5

print("Area:", calcArea(radius), "Circumference:", calcCircumference(radius))

1. Імпорт з бібліотеки лише необідного
2. Додавання відсутпів між функціями, два порожні рядки
3. Додавання пробілів між арефметичними знаками
4. Додавання порожнього рядка між функціями
5. Назва функції записна зміїним_регістром у нижньому регістрі

Завдання 3.

In [ ]:
class animal: pass
class dog(animal):
    def __init__(self,name):
        self.name=name
        self.type='Dog'

In [ ]:
class Animal: 
    pass


class Dog(Animal):
    def _init_(self, name):
        self.name = name
        self.type = 'Dog'

1. Додавання відсутпів між класами, два порожні рядки
2. Назва класів з великої букви
3. Додавання відступів між =
4. Додавання пустого рядку в кінці коду

Завдання 4.

In [ ]:
list=[1,2,3,4,5]
for i in range(len(list)):print(list[i])

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1. list вбудована функція, тому не може бути назвою змінної, переназиваємо в numbers
2. Додаємо пробіли між комами
3. в циклі і замінюємо на number
4. Перехід на новий рядок в циклі після :
5. range(len(...)) замінено на пряму ітерацію

5.У вас є DataFrame df, що представляє результати тестів студентів з математики, англійської мови та історії. Поточний код обчислює середній бал для кожного студента шляхом ітерації за рядками DataFrame за допомогою iterrows().

Ваше завдання полягає в тому, щоб змінити код так, аби уникнути використання iterrows() і замість цього застосувати більш ефективне та читабельне рішення відповідно до правил, озвучених у лекції. Рефакторинг треба зробити лише частині, де рахуються середні, імпорт і визначення датафрейму лишаємо без змін.

In [1]:
import pandas as pd

df = pd.DataFrame({
    'student': ['Alice', 'Bob', 'Charlie', 'David'],
    'math_score': [89, 94, 77, 85],
    'english_score': [92, 88, 79, 85],
    'history_score': [84, 92, 81, 89]
})

In [ ]:
averages = []
for _, row in df.iterrows():
    averages.append((row['math_score'] + row['english_score'] + row['history_score']) / 3)

df['average_score'] = averages

In [5]:

df['average_score'] = df.loc[:, "math_score":"history_score"].mean(axis=1)
print (df)

   student  math_score  english_score  history_score  average_score
0    Alice          89             92             84      88.333333
1      Bob          94             88             92      91.333333
2  Charlie          77             79             81      79.000000
3    David          85             85             89      86.333333

використаємо .loc для доступу до частини даних у DataFrame за мітками (іменами стовпців або індексів рядків), вказуємо діапазон стовпців і рахуємо середнє через mean по рядках axis=1

6.У Вас є великий DataFrame df, що представляє транзакції продажу в магазині. Цей DataFrame містить понад 1 мільйон рядків і кілька стовпців, зокрема «product_name», «product_category», «product_price» і «transaction_date».

І «product_name», і «product_category» є рядками, що представляють численні, але обмежені унікальні назви продуктів і категорії відповідно.

Напишіть код для ефективного перетворення стовпців «product_name» і «product_category» на категорійний тип для ефективного використання пам’яті.
Спробуйте вирішити це завдання, мінімізуючи використання пам'яті та зберігаючи читабельність коду. Крім того, виміряйте використання пам’яті до та після перетворення, щоб продемонструвати підвищення ефективності.

Порівняйте кількість памʼяті, яку займає наданий набір даних і новий, створений Вами. В лекції був приклад. В скільки разів менше памʼяті займає новий датафрейм?

In [11]:
import pandas as pd
import numpy as np

np.random.seed(0)

products = ['apple', 'banana', 'cherry', 'dates', 'elderberry']
categories = ['fruit', 'fruit', 'fruit', 'fruit', 'fruit']

N_ROWS = 10**6
df = pd.DataFrame({
    'product_name': np.random.choice(products, N_ROWS),
    'product_category': np.random.choice(categories, N_ROWS),
    'product_price': np.random.uniform(1, 10, N_ROWS),
    'transaction_date': pd.date_range(start='1/1/2000', periods=N_ROWS, freq='h')
})


df.memory_usage(index=False).sum()

32000000

In [12]:
df['product_name'] = df['product_name'].astype('category')
df['product_category'] = df['product_category'].astype('category')

df.memory_usage(index=False).sum()

18000328

In [13]:
# good code
column_convert = ['product_name', 'product_category']
for col in column_convert:
    df[col] =  df[col].astype('category')


df.memory_usage(index=False).sum()

18000328

In [14]:
print(f"Маємо зниження витрат памʼяті на {round((1-18000328/32000000)*100,2)}% !")

Маємо зниження витрат памʼяті на 43.75% !

7.В цьому завданні кілька пунктів. Треба виконати усі послідовно.   
    7.1. Завантажте дані у pandas dataframe з файла `ecommerce_data.csv`. Обовʼязково при завантаженні вкажіть параметр `encoding = 'ISO-8859-1'`, без нього буде помилка.  
    7.2. Заповніть пропущені значення в колонці CustomerID на -1 та перетворіть тип цієї колонки на str, адже зараз вона типу float, а це не правильний тип даних для ідентифікатора клієнта.  
    7.3. З допомогою бібліотеки sweetviz побудуйте html звіт, який порівнює дані для країни "Germany" і країни "France". У Вас можуть виникнути багато попереджень (Warning), їх рекомендую вимкнути наступним шматком коду   
    
   
    import warnings

    with warnings.catch_warnings(record=True):
        # your code
    
    
   7.4.Напишіть 5 відмінностей для двох зазначених країн на основі побудованого звіту, без виконання додаткового аналізу іншими інструментами.

In [ ]:
import os
os.listdir('../Модуль 7 Чистий код і оптимізація/ecommerce_data.csv')

['ecommerce_data.csv',
 'hw_7_1_Чистий_код.ipynb',
 'Lecture_7_1_Clean_code.ipynb',
 'Lecture_7_2_Огляд_PandasAI.ipynb',
 'Lecture_7_6_Бібліотеки_для_швидкого_аналізу.ipynb']

In [20]:
data_path = '../Модуль 7 Чистий код і оптимізація/ecommerce_data.csv'
df = pd.read_csv(data_path, encoding='ISO-8859-1')

In [23]:
null_customer_id = df[df['CustomerID'].isnull()]
null_customer_id

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/2011 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/2011 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/2011 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/2011 10:26,1714.17,NaN,United Kingdom

In [25]:
df['CustomerID'] = df['CustomerID'].fillna(-1)

In [27]:
type(df['CustomerID'][2])

numpy.float64

In [28]:
df['CustomerID'] = df['CustomerID'].astype('str')

In [29]:
type(df['CustomerID'][2])

str

In [31]:
import sweetviz as sv

report = sv.analyze(df)
report.show_html('sweet_report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [32]:
compare_report = sv.compare(
    [df[df['Country'] == 'Germany'], "Germany"],
    [df[df['Country'] == 'Germany'], "France"])
compare_report.show_html('Germany_vs_France_Report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Germany_vs_France_Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

8.З допомогою ChatGPT виявіть, чи є та які помилки в наступному коді.  
Попросіть після цього переписати код із дотриманням PEP8. Проаналізуйте результат. Чи справді ChatGPT виправив всі стилістичні помилки? Якщо ні, напишіть йому ще кілька запитів, аби код відповідав вимогам PEP8.  
Вставте фінальну версію коду з чату у ноутбук та запустіть на заданому списку. Має вертатись 50.  
Напишіть, які промпти (інструкції) при зверненні до ChatGPT ви застосували та додайте скріншот(-и) з промптами та відповідями чата.  
Якщо зробили висновки при виконанні цього завдання, то діліться також :)

**ЯК ВСТАВИТИ СКРІНШОТ в Jupyter Notebook** :
1. Створіть нову Markdown клітинку
2. В новоствореній клітинці обираєте в меню Jupyter Notebook Edit -> Insert Image
3. Обираєте картинку
4. В клітинці має зʼявитись текст, який містить картинку. Запустіть клітинку.

Або можна просто перетягнути картинку в Markdown клітинку.

In [42]:
def CalculateVariance(nl):
    sum_list = 0
    for n in nl:
        sum_list = sum_list + n
    mean = sum_list / len(nl)
    sum_squares = 0
    for n in nl:
        sum_squares = sum_squares + n**2
    mean_squares = sum_squares / len(nl)
    return mean_squares

result = calculate_variance(input_list)
result

7275.0

In [40]:
input_list = [75, 80, 85, 90, 95]

In [43]:
def calculate_variance(numbers):
    """
    Обчислює дисперсію списку чисел.
    """
    mean = sum(numbers) / len(numbers)
    variance = sum((n - mean) ** 2 for n in numbers) / len(numbers)
    return variance


input_list = [75, 80, 85, 90, 95]
result = calculate_variance(input_list)
print(result)

50.0

![alt text](image-1.png)

![alt text](image-2.png)